doctype html
html
  head
    script(src='/js/store.js')
    title
      |INU 카페테리아 설치하러가기
  body
    |INU 카페테리아 설치하러가기

//https://itunes.apple.com/kr/app/inu-%EC%B9%B4%ED%8E%98%ED%85%8C%EB%A6%AC%EC%95%84/id1272600111?mt=8
