doctype html
html
  head
    link(href='/css/store.css', rel='stylesheet')
    script(src='/js/store.js')
    title
      |INU 카페테리아 설치하러가기
  body
    h1
      |Google Play Store : 
      a(href='https://goo.gl/6TVgRC') https://goo.gl/6TVgRC <br>
      |iOS Appstore : 
      a(href='https://goo.gl/jtRxnJ') https://goo.gl/jtRxnJ <br>
      |Apk download Direct : 
      a(href='http://inucafeteriaaws.us.to:3829/INU Cafeteria.apk') http://inucafeteriaaws.us.to:3829/INU Cafeteria.apk <br><br>
      |If you Have a question about this app, contact us <br>
      |문의사항이 있으시면 아래로 연락하실수 있습니다.<br>
      a(href='https://www.facebook.com/INUAppCenter/') https://www.facebook.com/INUAppCenter/
