[Unit]
Description=Cafeteria service

[Service]
WorkingDirectory=/home/potados/cafeteria-server
ExecStart=/usr/bin/env node -r esm /home/potados/cafeteria-server/index.mjs
Restart=always
User=potados

[Install]
WantedBy=multi-user.target
