[Unit]
Description=Cafeteria service

[Service]
ExecStart=/home/potados/cafeteria-server/index.js
WorkingDirectory=/home/potados/cafeteria-server
Restart=always
User=potados

[Install]
WantedBy=multi-user.target
